@media handheld,projection,screen {
/*
	**************
	DEFAULT STYLES
	**************
*/
/** RESET FOR BROWSERS **/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		box-sizing: border-box;
	}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, 
summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1.2em;
	font: inherit;
	vertical-align: text-top; 
	}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
	blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/*** DEFAULT GENERAL STYLES ***/
.hidden { position: absolute; left: -9999px; top: -9999px; width: 1px; height: 1px; overflow: hidden; }

body { 
	font-size: 62.5%; 
	font-family: "Open Sans",'Helvetica','Arial',sans-serif; 
	font-weight: 400; 
	background: rgb(255,255,255) url("/twofactor/assets/img/top_banner.jpg") repeat-x center top; 
	width: 100%; 
	margin: 0 auto;
	}

* { transition: ease .25s; -moz-transition: ease .25s; -webkit-transition: ease .25s; }

p, ul, ol { font-size: 1.6em; vertical-align: baseline; }

strong { font-weight: 700; vertical-align: baseline; }

em { font-style: italic; vertical-align: baseline; }

sub { font-size: 0.6em; position: relative; top: 3px; left: 0; }

sup { font-size: 0.6em; position: relative; top: -5px; left: 2px; }

i { font-style: normal; }

a { text-decoration: none; color: rgb(73,92,183); vertical-align: baseline; }

	a:hover { text-decoration: underline;}

:focus { border-bottom: 1px dotted rgb(74,110,181); }

p a:hover, p a:focus { border-bottom: 1px dotted rgb(73,92,183); text-decoration: none; display: inline; }


/*** DEFAULT BANNER STYLES ***/
#banner:after {
	content: "";
	display: table;
	clear: both;
	}
	
#banner {
	position: relative;
	top: 30px;
	margin: 0 auto;
	width: 1280px;
	text-transform: uppercase;
	font-family: "Open Sans",'Helvetica','Arial',sans-serif; 
	font-weight: 400;
	line-height: 4em;
	}

	#banner h2 { width: 100%; line-height: 3.0em; }

		#banner h2 a {
			color: rgb(74,110,181);
               		font-size: 3.3em;
	            	text-decoration: none; 
        	    	background-color: transparent;
			font-weight: 300;
			}

        	#banner span a { 
        		font-size: 1.6em; 
	        	color: rgb(153,153,153); 
	        	text-decoration: none; 
        		background-color: transparent;
			letter-spacing:3px;
			font-weight: 700;
			line-height: 1.5em;
			display: block;
			margin-top: -10px;
        		}
       
	/*** DEFAULT CONTACT US STYLES ***/
	#contactus:after {
		content: "";
		display: table;
		clear: both;
		}
	
	#contactus {
		position: absolute;
		top: -30px;
		right: 0;
		width: 160px;
		height: 43px;
		background-color: rgb(116,193,230); 
		border-right: 1px solid rgb(172,224,243);
		border-bottom: 1px solid rgb(172,224,243);
		border-left: 1px solid rgb(172,224,243);
		}

	#contactus a:hover { background-color: transparent; }

	#contactus .icon- { 
		float: left; 
		font-size: 2.1em; 
		width: 25%; 
		text-align: center;
		padding: 8px 0 13px 0;
		display: block; 
		background-color: rgb(62,162,218); 
		color: rgb(255,255,255); 
		border-right: 1px solid rgb(172,224,243);
		}

		#contactus .icon-:hover { text-decoration: none; }

	#contactus .contacttxt { 
		display: block; 
		font-family: "Open Sans",'Helvetica','Arial',sans-serif; 
		font-weight: 700;
		font-size: 1.5em;
		color: rgb(255,255,255); 
		margin: 0; 
		text-align: center;
		height: 42px; 
		}

		#contactus .contacttxt:hover { background-color: rgb(62,162,218); text-decoration: none; }

	/*** DEFAULT BANNER LOGOS STYLES ***/
	#logos:after {
		content: "";
		display: table;
		clear: both;
		}
	
	#logos {
		position: absolute;
		top: 19px; 
		right: 0;
		width: 160px;
		min-height: 50px;
		}

		#logos a { display: inline-block; }
 
	        #logos a:first-child { padding-right: 22px; }
        		
		#logos a:hover { background-color: transparent; text-decoration: none; }
		
		#logos img[alt="NCSA home"] { width: 89px; height: 60px; }
	
		#logos img[alt="Illinois home"] { width: 46px; height: 60px; }

/*** DEFAULT NAV STYLES ***/
#navbox:after {
	content: "";
	display: table;
	clear: both;
	}
	
#navbox {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	position: relative;
	top: 55px;
	left: 0;
	width: 100%;
	height: 52px;
	background-color: rgb(116,193,230); 
	z-index: 2000;
	}

#nav { 
	margin: 0 auto;
	width: 1280px; 
	display: block; 
	text-transform: uppercase; 
	position: relative;
	}

	#nav li { list-style: none; border-left: 1px solid rgb(172,224,243); float: left; }

	#nav li:hover ul, #nav li ul.showSubMenu { 
		position: absolute;
		display: inline;
		top: 52px;
		border-top: 1px solid rgb(172,224,243);
		left: 0;
		width: 1280px;
		background-image: linear-gradient(top, rgb(31,123,189) 5%, rgb(62,161,218) 0%);
			background-image: -o-linear-gradient(top, rgb(31,123,189) 5%, rgb(62,161,218) 0%);
			background-image: -moz-linear-gradient(top, rgb(31,123,189) 5%, rgb(62,161,218) 0%);
			background-image: -webkit-linear-gradient(top, rgb(31,123,189) 5%, rgb(62,161,218) 0%);
			background-image: -ms-linear-gradient(top, rgb(31,123,189) 5%, rgb(62,161,218) 0%);
			background-image: -webkit-gradient(
    				linear,
    				left top,
    				left bottom,
    				color-stop(0.10, rgb(62,161,218)),
    				color-stop(0, rgb(31,123,189))
			);
		}

		#nav li:hover, #nav li.showParentSubMenu { background-color: rgb(62,162,218); }

			#nav li:hover ul li, #nav li ul.showSubMenu li { background-color: transparent; }

	#nav li ul li { border-left: none; list-style: none; float: left; }

	#nav #navhome { background-color: rgb(62,162,218); width: 55px; height: 52px; }

		#nav #navhome:hover { background-color: rgb(116,193,230); }

		#nav #navhome a.icon- {
    			display: block;
        		float: left;
			margin: 0;
			padding: 12px 0 0 27%;
        		font-size: 1.6em;
        		color: rgb(255,255,255);
			font-weight: 100;
                        text-transform: none;
        		}

		#nav #navhome div { display: none; }

	#nav #search { border: none; }

        #nav #search:hover { background-color: transparent; }

	#nav input[type=text], #nav input[type=password] { 
		float: left;
		border: none; 
		margin: 4px 4px 0 4px; 
		padding: 0 10px; 
		height: 44px; 
		width: 268px; 
		background-color: rgb(241,248,253) !important;
		color: rgb(102,102,102); 
		}

	#nav input[type=submit] { 
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		border-left: 1px solid rgb(172,224,243); 
		border-right: 1px solid rgb(172,224,243);
		background-color: rgb(62,162,218); 
		margin-left: 3px; /*remove if trouble in firefox*/
		padding: 0 35px 0 17px; 
		height: 52px; 
		font-size: 1.3em; 
		color: rgb(255,255,255); 
		}

		#nav input[type=submit]:hover { background-color: rgb(116,193,230); }

/*** DEFAULT ADJUSTING DIV STYLES ***/
#adjustingdiv {	margin: 0 auto; width: 1280px; padding: 0; }

/*** DEFAULT FOOTER STYLES ***/
#footer:after {
	content: "";
	display: table;
	clear: both;
	}
	
#footer {
	width: 100%;
	position: relative;
	left: 0;
	height: 150px;
	background-color: rgb(62,162,218);
	margin: 20px 0 0 0;
	padding: 40px 0 10% 14%; 
	}

	#footer a, #footer p { color: rgb(255,255,255); }

	#footer ul { display: block; text-transform: uppercase; margin-bottom: -35px; }

	#footer li {
        	border-right: 1px solid rgb(255,255,255);
        	list-style: none;
        	float: left;
		padding: 0 10px;
		margin-top: 9px;
		}
		
		#footer li a { font-weight: bold; }

		#footer li:last-child { border-right: none; }

	#footer p { margin-left: 210px; font-size: 1.3em; line-height: 1.5; }

		#footer p > a { border-bottom: 1px dotted rgb(255,255,255); display: inline; }

			#footer p > a:hover { border-bottom: 1px solid rgb(255,255,255); }

	#footlogos { float: left; width: 200px; margin-top: 10px; }

		#footlogos a:hover { background-color: transparent; text-decoration: none; }

		#footlogos img[alt="NCSA home"] { 
			padding-right: 20px;
			margin-right: 20px;
			border-right: 1px solid rgb(255, 255, 255);
			width: 109px;
			height: 60px;
                        }
	
		#footlogos img[alt="University of Illinois home"] { width: 46px; height: 60px; margin-right: 20px; }

		#footbuttons {
                position: absolute;
                top: -70px;
                left: 0;
                background-color: rgb(238,238,238);
                width: 100%;
                height: 70px;
                border-top: 1px solid rgb(204,204,204);
                border-right: 1px solid rgb(204,204,204);
                border-left: 1px solid rgb(204,204,204);
                padding: 10px 0 0 0;
                text-align: center;
                }

                #footbuttons li { border-right: none; padding: 0 7%; display: inline; float: none; }

				#footbuttons li a { display: inline-block; }

		                        #footer li a:hover { background-color: transparent; }

					#footbuttons li a > object { pointer-events: none; }

html { height: 100%; }
body { min-height: 100%; }

}


/*
	*********************  
        SCREEN SIZES x > 1600 
        *********************
*/
@media handheld,projection,screen and (min-width: 1600px) {

/*** 1600 GENERAL STYLES ***/

/*** 1600 BANNER STYLES ***/

	/*** 1600 CONTACT US STYLES ***/

	/*** 1600 BANNER LOGOS STYLES ***/

/*** 1600 NAV STYLES ***/
#nav #navhome span, #nav li ul { display: none; }

#nav #navpsp { border-right: 1px solid rgb(255,255,255); }

#nav li > a {
	display: block;
	padding: 18px 25.75px;
   	text-decoration: none; 
   	color: rgb(255,255,255);
   	font-weight: bold; 
	font-size: 16px;
	}

	#nav li:hover ul, #nav li ul.showSubMenu { 
		font-size: 1.0em;
		position: absolute;
		left: 0;
		border-bottom: 1px solid rgb(255,255,255);
		}
	
	#nav li:hover li, #nav li.showParentSubMenu li { float: left; }

		#nav li:hover li a, #nav li.showParentSubMenu li a { color: rgb(255,255,255); }

			#nav li li a:hover, #nav li li a:focus { color: rgb(51,85,119); } /*rgb(199,236,249)*/

	#nav #navhome:hover a.icon- { background-color: transparent; }

	#nav span.icon- { margin: -2px 0 0 -5px; padding: 0; }
	
/*** 1600 FOOTER STYLES ***/
#footer li > a span.icon- { display: none; }

#footer ul:after {
	content: "";
  	display: table;
  	clear: both;
	}

	#footer li:last-child { border-right: none; }

		#footer li > a span.icon- { display: none; }

}


/*
	**************************** 	
	SCREEN SIZES 1280 < x < 1600
	****************************
*/
@media handheld,projection,screen and (max-width: 1599px) and (min-width: 1280px) {

/*** 1280 GENERAL STYLES ***/

/*** 1280 BANNER STYLES ***/
#banner { width: 1024px; }

	/*** 1280 CONTACT US STYLES ***/
	
	/*** 1280 BANNER LOGOS STYLES ***/

/*** 1280 NAV STYLES ***/
#nav { width: 1024px; }

#nav #navhome span { display: none; }

#nav #navpsp { border-right: 1px solid rgb(255,255,255); }

	#nav li > a { 
		display: block;
   		text-decoration: none; 
   		color: rgb(255,255,255);
   		font-weight: bold; 
		padding: 18px 15.5px; 
		font-size: 16px;
		}

	#nav li ul { display: none; font-size: 1.0em; }

		#nav li:hover ul, #nav li ul.showSubMenu {
	   		position: absolute;
   			display: inline;
			border-bottom: 1px solid rgb(255,255,255);
			top: 52px; 
			border-top: 1px solid rgb(172,224,243);
			left: 0;
   			width: 1024px;
			background-color: rgb(62,162,218);
			}
				
		#nav li:hover li, #nav li.showParentSubMenu li { float: left; }

			#nav li:hover li a, #nav li.showParentSubMenu li a { color: rgb(255,255,255); padding: 18px 15.5px; }

			#nav li li a:hover, #nav li li a:focus { color: rgb(51,85,119); }

			#nav #navhome:hover a.icon- { background-color: transparent; }

	#nav span.icon- { margin: -2px 0 0 -5px; padding: 0; }

	#nav input[type=text], #nav input[type=password] { width: 114px; margin-right: 2px; }

/*** 1280 ADJUSTING DIV STYLES ***/
#adjustingdiv { width: 1024px; }

/*** 1280 FOOTER STYLES ***/
#footer li > a span.icon- { display: none; }

#footer ul:after {
	content: "";
  	display: table;
  	clear: both;
	}

#footer { padding: 40px 0 10% 12%; }

}


/*
	****************************
	SCREEN SIZES 1024 < x < 1280
	****************************
*/
@media handheld,projection,screen and (max-width: 1279px) and (min-width: 1024px) {

/*** 1024 GENERAL STYLES ***/

/*** 1024 BANNER STYLES ***/
#banner { width: 820px; }

	#banner h2 span a { width: 100%; } 

	/*** 1024 CONTACT US STYLES ***/

	/*** 1024 BANNER LOGOS STYLES ***/

/*** 1024 NAV STYLES ***/
#nav { width: 820px; }

#nav #navhome span, #nav input[type=text], #nav input[type=password] { display: none; }

#navbox { top: 50px; height: 41px; }

	#nav li > a { 
		display: block;
   		text-decoration: none; 
		color: rgb(255,255,255);
   		font-weight: bold; 
		padding: 14px 14px 12px 14px;
		font-size: 15px;
		}

	#nav li ul { display: none; font-size: 1.0em; }

		#nav li:hover ul, #nav li ul.showSubMenu { 
			position: absolute;
   			display: inline;
   			left: 0;
			border-bottom: 1px solid rgb(255,255,255);
   			width: 820px;
			background-color: rgb(62,162,218);
			top: 41px; 
			background-color: purple;
			} 

		#nav li:hover li, #nav li.showParentSubMenu li { float: left; }

			#nav li:hover li a, #nav li.showParentSubMenu li a { color: rgb(255,255,255); padding: 14px 10.5px 11px 10.5px; /*r,l @ 16.5px w/o security*/ }

			#nav li li a:hover, #nav li li a:focus { color: rgb(51,85,119); }

	#nav span.icon- { margin: -2px 0 0 -5px; padding: 0; }

	#nav #navhome { height: 41px; width: 46px; padding: 0; margin: 0; }

		#nav #navhome a.icon- { padding: 8.5px 0 0 12.5px; font-size: 1.4em; } 

			#nav #navhome:hover a.icon- { background-color: transparent; }

	#nav #navpsp { width: 130px; }

	#nav input[type=submit] { height: 41px; padding: 0 31px 0 14px; font-size: 1.1em; margin-left: 0; }

	#nav #search .searchfield { background-color: rgb(241,248,253); }

		#nav #search:hover .searchfield {
			display: block;
			position: absolute;
			top: 37px;
			right: -3px;
        		border: 2px solid rgb(62,162,218);
			height: 40px;
	        	width: 157px; 
			color: rgb(102,102,102); 
		        z-index: 30;
			}
		
/*** 1024 ADJUSTING DIV STYLES ***/
#adjustingdiv { width: 820px; position: relative; /*top: 51px;*/ }

/*** 1024 FOOTER STYLES ***/
#footer li > a span.icon- { display: none; }

#footer ul:after {
	content: "";
	display: table;
	clear: both;
	}

#footer { margin-top: 350px; padding: 40px 0 10% 15%; }

	#footbuttons li { padding: 0 5.5%; }

}


/* 
	************************ 
	SCREEN SIZES x < 1024 
	************************
*/
@media handheld,projection,screen and (max-width: 1023px) {

/*** MINI GENERAL STYLES ***/
body { 
	background-image: none;
        -webkit-text-size-adjust: none; 
           -moz-text-size-adjust: none; 
            -ms-text-size-adjust: none;
	     -o-text-size-adjust: none; 
        }

/*** MINI BANNER STYLES ***/
#banner {
	background: rgb(116,193,230) url("/twofactor/assets/img/top_banner.jpg") repeat-x center bottom;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	margin-bottom: 5px;
	line-height: 1.8em;
	letter-spacing: 0;
	}

	#banner h2 { 
		position: relative;
		top: 114px; 
		margin: 0 auto;
		text-align: center;
		width: 100%;
		}
	
		#banner h2 a { font-size: 34px; line-height: 25px; }

		#banner h2 span a { display: block; font-size: 20px; }

	/*** MINI CONTACT US STYLES ***/
	#contactus { display: none; }

	/*** MINI BANNER LOGOS STYLES ***/
	#logos {
		position: static;
		top: auto;
		left: auto;
		right: auto;
		width: 25%;
		float: right;
		margin: -98px 2.5% 0 0;
		min-height: 102px;
    		}

	        #logos a:first-child { padding: 0 0 1px 0; border-right: 1px solid rgb(255,255,255); }

     		#logos a:hover { background-color: transparent; }

		#logos img[alt="NCSA home"] { margin: 10px 25px 10px 0; width: 110px; height: 75px; }

	        #logos img[alt="Illinois home"] { width: 58px; height: 75px; margin: 10px 0 9px 21px; }

/*** MINI NAV STYLES ***/
#navbox h3 #sitehide, #nav #search, #navbox #nav { display: none; }

#navbox { 
	position: relative;
	top: -59px;
	left: 0;
	width: 40%;
	background-color: transparent;
	z-index: 2000;
	}

	#navbox:hover, #nav input[type=submit]:hover { cursor: pointer; }

	#navbox h3 { 
		position: relative;
 		top: -20px;
    		left: 0;
    		width: 100%;
		height: 100%;
		color: rgb(255,255,255);
		display: inline; 
		padding: 35px 0 28px 0;
		overflow: visible;
		font-size: 2.9em;
		text-transform: uppercase;
		font-weight: 700;
		}

		#navbox h3 .icon- { margin-right: 23px; font-size: 1.4em; }

		#navbox h3 .icon-[title="NCSA site navigation"] { 
			font-size: 1.0em;
			background-color: rgb(62,162,218);
			padding: 34px 33px 30px 31px;
			border-right: 2px solid rgb(255,255,255);
			border-left: 2px solid rgb(255,255,255); 
			}

		#navbox h3 .icon-[title="NCSA site menu"] { 
                        position: relative;
                        top: 2px;
                        left: 0;
                        font-size: 1.3em;
                        padding: 30px 30px 28px 5px; 
                        }

#nav:after {
	content: "";
    	display: table;
    	clear: both;
    	}

#navbox #nav { 
	position: absolute;
	top: 139px;
	left: 0;
	margin: 0;
	width: 175%;
	border: 2px solid rgb(255,255,255);
	}

	#nav #navhome div { 
		display: block;
		padding: 26.6px 61px 26.6px 32px;
		border: 2px solid rgb(255,255,255);
		position: absolute;
		top: -93px;
		left: 100%;
		z-index: 2000;
		color: rgb(255,255,255);
		font-weight: bold;
		font-size: 2.2em;
		background-color: rgb(31,126,189);
		}

    		#nav #navhome div:hover { color: rgb(255,255,255); background-color: rgb(116,193,230); }
 
#nav #navabout, 
#nav #navuser, 
#nav #naver, 
#nav #navnews, 
#nav #navpsp 
	{ width: 100%; background-color: rgb(62,162,218); line-height: 5.2em; padding: 6px 0 0 0; }

	#nav li { 
		padding: 30px 0; 
		border-top: 2px solid rgb(255,255,255);
		border-left: none;
		}

		#nav li:hover ul, #nav li ul.showSubMenu {
			position: relative;
			display: inline-block;
			top: 0;
			left: 0;
			width: 100%;
			background-image: none;
			border-top: none;
			background-color: rgb(116,193,230); 
			}

			#nav li:hover a, #nav li.showParentSubMenu a { color: rgb(255,255,255); }

		#nav li > a {
                       	text-decoration: none;
                       	color: rgb(255,255,255);
                       	font-size: 2.0em;
                       	font-weight: 700;
			padding: 0 0 0 29px;
                       	}

			#nav li > a:hover, #nav li > a:focus { color: rgb(26,104,152); }

		#nav li ul { margin: 0; background-color: rgb(116,193,230); }

			#nav li ul li { float: none; line-height: 1.2em;}

				#nav li:hover li a, #nav li.showParentSubMenu li a { color: rgb(255,255,255); }

				#nav li li a { font-size: 1.3em; }

					#nav li li a:hover, #nav li li a:focus { color: rgb(26,104,152); }

				#nav li > a span.icon- { margin-left: -7px; }
				
	#nav #navhome { width: 100%; height: 93px; padding: 29px; border: none; }

		#nav #navhome a.icon- { margin: 0 0 0 -6px; padding: 0; font-size: 2.1em; }

		#nav #navpsp { border-top: 2px solid rgb(255,255,255); }
		
#nav #search { 
	display: block;
	width: 100.2%;
	position: absolute;
	top: -93px;
	left: 0;
	padding: 0;
	height: 93px;
	border: 2px solid rgb(255,255,255);
	}

	#nav #search, #nav #search:hover { background-color: rgb(116,193,230); }

#nav input[type=text], #nav input[type=password] {
	position: absolute;
	top: 7px;
	left: 100px;
	float: none;
	border: none;
	margin: 0;
	padding: 0 10px;
	height: 75px;
	width: 83.2%;
	font-size: 1.5em;
	}

#nav input[type=submit] {
	position: absolute;
	top: 0;
	right: auto;
	left: -7px;
	border-right: 2px solid rgb(255,255,255);
	border-left: 2px solid rgb(255,255,255);
	padding: 0 61px 0 32px;
	font-size: 1.9em;
	height: 89px;
	}

	#nav input[type=submit]:hover, 
	#navbox h3 .icon-[title="NCSA site navigation"]:hover 
		{ background-color: rgb(116,193,230); }

/*** MINI ADJUSTING DIV STYLES ***/
#adjustingdiv { position: relative; top: 65px; width: 100%; }

/*** MINI FOOTER STYLES ***/
#footlogos { display: none; }

#footer { top: 190px; bottom: 0; margin: 0 0 15px 0; padding: 0; min-height: 240px; }

        #footer ul { background-color: rgb(116,193,230); margin-bottom: 0; }

        #footer li {
                border-right: none;
                border-bottom: 1px solid rgb(255,255,255);
		font-size: 1.8em; 
		padding: 35px 3%; 
                float: none;
		margin-top: 0;
                }

		#footer li:hover { background-color: rgb(62,162,218); }

        #footer p { 
		font-size: 1.9em; 
		padding: 3% 0 20px 3%; 
		background-color: rgb(62,162,218); 
		margin-left: 0; 
		}

        #footbuttons { 
		top: -100px; 
		height: 100px; 
		text-align: center; 
		background-color: rgb(238,238,238) !important; 
		padding: 23px 0 0 0; 
		}

        	#footbuttons li {
                	border-bottom: none;
	                font-size: 4.0em;
       			display: inline;
                	}

        		#footbuttons li:first-child { padding-left: 3%; }
		        #footbuttons li:last-child { padding-right: 3%; }
			#footbuttons li:hover { background-color: transparent; }

        	        #footer li a:hover, #footbuttons li a:hover { text-decoration: none; }
			
}


/* 
	*********** 
	MINI CHEATS 
	***********
*/
@media handheld,projection,screen and (max-width: 890px) and (min-width: 690px) {
#logos { width: 30%; }
#nav #navhome div { margin: 0; }
#nav input[type=text], #nav input[type=password] { width: 80%; }
}
 
@media handheld,projection,screen and (max-width: 799px) and (min-width: 691px) {
#navbox { width: 50%; }
#navbox #nav { width: 150%; }
#footbuttons li { padding: 0 6.5%; }
}

@media handheld,projection,screen and (max-width: 745px) and (min-width: 640px) {
#logos { width: 36%; }
}
 
@media handheld,projection,screen and (max-width: 690px) and (min-width: 640px) {
#navbox { width: 54%; }
#navbox #nav { width: 125%; }
#nav #navhome div { margin: 0; }
#footbuttons li { padding: 0 6%; }
} 
 
@media handheld,projection,screen and (max-width: 639px) { /*600*/
#navbox { width: 100%; }
#navbox #nav { width: 75%;}
#nav #navhome div { margin: 0; }
#nav input[type=text], #nav input[type=password] { width: 74%; }
#footbuttons li { padding: 0 4%; }
}
 
@media handheld,projection,screen and (max-width: 638px) and (min-width: 486px) {
#logos { width: 38%; margin: -124px 0 0 0; }
#logos a:first-child { padding: 0 0 4px 0; }
#logos img[alt="NCSA home"] { margin: 16px 20px 16px 0; width: 89px; height: 60px; }
#logos img[alt="Illinois home"] { width: 46px; height: 60px; margin: 16px 0 16px 17px; }
}
 
@media handheld,projection,screen and (max-width: 553px) and (min-width: 486px) {
#logos { margin: -160px 0 0 0; }
#adjustingdiv { top: 126px; }
}
 
@media handheld,projection,screen and (max-width: 485px) {
#banner h2 { top: 115px; }
#navbox { width: 65%; }
#navbox #nav { width: 125%; }
#navbox h3 .icon-[title="NCSA site navigation"] { padding: 35px 23px 30px 22px; }
#navbox h3 .icon- { margin-right: 12px; }
#navbox h3 .icon-[title="NCSA site menu"] { padding: 30px 15px 28px 0; }
#nav #navhome div { margin: 0 0 0 -19%; padding: 26.6px 52px 26.6px 22px; }
#nav #search { width: 81.5%; }
#nav input[type=submit] { padding: 0 51px 0 23px; }
#nav input[type=text], #nav input[type=password] { left: 81px; width: 70%; }
#logos { width: 33%; margin: -157px 0 0 0; }
#logos a:first-child { padding-right: 0; border-right: none; }
#logos img[alt="NCSA home"] { margin: 21px 16px 21px 0; width: 68px; height: 46px; }
#logos img[alt="Illinois home"] { width: 35px; height: 46px; margin: 21px 0 16px 0; }
#adjustingdiv { top: 126px; }
}
 
@media handheld,projection,screen and (max-width: 445px) {
#adjustingdiv { top: 126px; }
}


/*
	***********
	PRINT SIZES
	***********
*/
@media print {
/** RESET FOR BROWSERS **/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		box-sizing: border-box;
	}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, 
summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1.2em;
	font: inherit;
	vertical-align: text-top; 
	}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
	blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


/*** PRINT GENERAL STYLES ***/
.hidden { position: absolute; left: -9999px; top: -9999px; width: 1px; height: 1px; overflow: hidden; }

body { 
	font-size: 62.5%; 
	font-family: "Open Sans",'Helvetica','Arial',sans-serif; 
	font-weight: 400; 
	background-color: rgb(255,255,255); 
	width: 100%; 
	margin: 0 auto;
	}

p, ul, ol { font-size: 1.6em; vertical-align: baseline; }

strong { font-weight: 700; vertical-align: baseline; }

em { font-style: italic; vertical-align: baseline; }

sub { font-size: 0.6em; position: relative; top: 3px; left: 0; }

sup { font-size: 0.6em; position: relative; top: -12px; left: 1px; }

a { color: rgb(153,153,153); vertical-align: baseline; }

@page { margin: 0.5in; }

/*** PRINT BANNER STYLES ***/
#banner:after {
	content: "";
	display: table;
	clear: both;
	}
	
#banner {
	position: relative;
	top: 10px;
	margin: 0 auto;
	width: 820px; 
	text-transform: uppercase;
	font-family: "Open Sans",'Helvetica','Arial',sans-serif; 
	font-weight: 400;
	line-height: 4em;
	}

	#banner h2 { width: 100%; line-height: 3.0em; }

		#banner h2 a {
			color: rgb(153,153,153);
               		font-size: 3.3em;
	            	text-decoration: none; 
        	    	background-color: transparent;
			font-weight: 300;
			}

        	#banner span a { 
			width: 100%;
        		font-size: 1.6em; 
	        	color: rgb(50,50,50); 
	        	text-decoration: none; 
        		background-color: transparent;
			letter-spacing:3px;
			font-weight: 700;
			line-height: 1.5em;
			display: block;
			margin-top: -10px;
        		}

       	/*** PRINT CONTACT US STYLES ***/
	#contactus { display: none; }

	/*** PRINT BANNER LOGOS STYLES ***/
	#logos:after {
		content: "";
		display: table;
		clear: both;
		}
	
	#logos {
		position: absolute;
		top: 19px; 
		right: 0;
		width: 160px;
		min-height: 50px;
		}

		#logos a { display: inline-block; }
 
	        #logos a:first-child { padding-right: 22px; }
        		
		#logos img[alt="NCSA home"] { width: 89px; height: 60px; }
	
		#logos img[alt="Illinois home"] { width: 46px; height: 60px; }

/*** PRINT NAV STYLES ***/
#navbox { display: none; }

/*** PRINT ADJUSTING DIV STYLES ***/
#adjustingdiv {	position: relative; margin: 0 auto; width: 820px; padding: 0; }

/*** PRINT FOOTER STYLES ***/
#footer li > a span.icon- { display: none; }

#footer:after, #footer ul:after {
	content: "";
	display: table;
	clear: both;
	}
	
#footer {
	width: 100%;
	position: relative;
	left: 0;
	height: 150px;
	background-color: rgb(62,162,218);
	margin: 250px 0 0 0;
	padding: 40px 10% 10% 10%; 
	}

	#footer a, #footer p { color: rgb(255,255,255); }

	#footer ul { display: none; }

	#footer p { margin-left: 170px; font-size: 1.3em; line-height: 1.5; }

		#footer p > a { border-bottom: 1px dotted rgb(255,255,255); display: inline; }

	#footlogos { float: left; width: 170px; margin-top: 0; }

		#footlogos img[alt="NCSA home"] { 
			padding-right: 10px; 
			margin-right: 7px; 
			border-right: 1px solid rgb(255,255,255); 
                        width: 98px; /* add 10px from padding-right */
                        height: 60px; 
                        }
	
		#footlogos img[alt="University of Illinois home"] { width: 46px; height: 60px; }

		#footbuttons { display: none; }

.offscreen {
  position: absolute !important;
  top: auto; 
  left: -300em;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
html { height: 100%; }
body { min-height: 100%; }
}
