@media handheld,projection,screen {
/*
	************** 
        DEFAULT STYLES 
        **************
*/
body { width: 100%; }

/*** DEFAULT BANNER STYLES ***/

	/*** DEFAULT CONTACT US STYLES ***/

	/*** DEFAULT BANNER LOGOS STYLES ***/

/*** DEFAULT NAV STYLES ***/
#subnavbg { /*background for 2nd level nav*/
	position: absolute;
	background-image: linear-gradient(top, rgb(31,123,189) 5%, rgb(62,161,218) 0%);
		background-image: -o-linear-gradient(top, rgb(31,123,189) 5%, rgb(62,161,218) 0%);
		background-image: -moz-linear-gradient(top, rgb(31,123,189) 5%, rgb(62,161,218) 0%);
		background-image: -webkit-linear-gradient(top, rgb(31,123,189) 5%, rgb(62,161,218) 0%);
		background-image: -ms-linear-gradient(top, rgb(31,123,189) 5%, rgb(62,161,218) 0%);
		background-image: -webkit-gradient(
   			 linear,
   			 left top,
   			 left bottom,
   			 color-stop(0.10, rgb(62,161,218)),
    			 color-stop(0, rgb(31,123,189))
		);
	top: 52px;
	left: 0;
	width: 100%;
	height: 53px;
	z-index: 100;
	border-bottom: 1px solid rgb(255,255,255);
	border-top: 1px solid rgb(172,224,243);	
	-webkit-box-shadow: 0 2px 6px rgb(41,41,41);
	   -moz-box-shadow: 0 2px 6px rgb(41,41,41);
		box-shadow: 0 2px 6px rgb(41,41,41);
	}

#nav #navhome, #nav input[type=submit] { background-color: rgb(62,162,218); }

#nav #navhome:hover, #nav input[type=submit]:hover { background-color: rgb(116,193,230); } /*nav home/search rollover color -- gray: 153,153,153; dk blue: 31,126,189; lt blue: 116,193,230 */

	#nav .highlight > a { background-color: rgb(31,126,189); color: rgb(255,255,255); }

	#nav .highlight > ul, #nav li:hover > ul, #nav li > ul.showSubMenu { 
		position: absolute; 
		display: block; 
		background-image: linear-gradient(top, rgb(31,123,189) 5%, rgb(62,161,218) 0%);
			background-image: -o-linear-gradient(top, rgb(31,123,189) 5%, rgb(62,161,218) 0%);
			background-image: -moz-linear-gradient(top, rgb(31,123,189) 5%, rgb(62,161,218) 0%);
			background-image: -webkit-linear-gradient(top, rgb(31,123,189) 5%, rgb(62,161,218) 0%);
			background-image: -ms-linear-gradient(top, rgb(31,123,189) 5%, rgb(62,161,218) 0%);
			background-image: -webkit-gradient(
   				linear,
    				left top,
    				left bottom,
    				color-stop(0.10, rgb(62,161,218)),
    				color-stop(0, rgb(31,123,189))
			);
		border: none; 
		z-index: 200; 
		width: 100%; 
		top: 52px;
		border-top: 1px solid rgb(172,224,243);
		left: 0;
		height: 52px;
		overflow: hidden;
		}

#nav li:hover > ul, #nav li > ul.showSubMenu { background-color: rgb(62,162,218); z-index: 220; }

		#nav li ul .highhigh a, #nav li:hover > ul li a:hover, #nav li > ul.showSubMenu li a:hover, #nav li > ul.showSubMenu li a:focus { /*actives and rollovers color*/
		  	text-decoration: none;
			background-color: transparent; 
			}

		#nav li ul .highhigh a { 
			color: rgb(255,255,255); 
			background-image: linear-gradient(top, rgb(23,84,122) 5%, rgb(31,123,189) 0%);
				background-image: -o-linear-gradient(top, rgb(23,84,122) 5%, rgb(31,123,189) 0%);
				background-image: -moz-linear-gradient(top, rgb(23,84,122) 5%, rgb(31,123,189) 0%);
				background-image: -webkit-linear-gradient(top, rgb(23,84,122) 5%, rgb(31,123,189) 0%);
				background-image: -ms-linear-gradient(top, rgb(23,84,122) 5%, rgb(31,123,189) 0%);
				background-image: -webkit-gradient(
    					linear,
    					left top,
    					left bottom,
    					color-stop(0.10, rgb(31,123,189)),
    					color-stop(0, rgb(23,84,122))
				);
		 } 

/*** DEFAULT PAGEBODY STYLES ***/
#pagebody { 
	position: relative;
	top: 107px;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-color: transparent;
	}

	/*** DEFAULT PAGEHEADER STYLES ***/
	#pageheader {
		width: 100%;
		padding: 1px 10% 0 10%;
		height: 95px;
		background: rgb(102,102,102) url("/twofactor/assets/img/candycane_bg2.png") repeat left top;
        	-webkit-box-shadow: 0 2px 6px rgb(150,150,150);
                   -moz-box-shadow: 0 2px 6px rgb(150,150,150);
			box-shadow: 0 2px 6px rgb(150,150,150);
		}

		#pageheader h2 {
			width: 1280px;
			margin: 38px auto 0 auto;
			color: rgb(102,102,102);
			font-weight: 300;
			background-color: rgb(238,238,238);
			border-top: 6px solid rgb(116,193,230);
			font-size: 3em;
			padding: 10px 0 15px 25px;
			}

	/*** DEFAULT PAGECONTENT STYLES ***/
	#pagecontent {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		padding-bottom: 25px;
		background-color: rgb(255,255,255);
		}
	
			/*** DEFAULT PAGEFIELD STYLES ***/
			#pagefield:after {
        			content: "";
        			display: table;
	        		clear: both;
        			}
        				
			 #pagefield {
				position: relative;
				top: 0;
				width: 1280px;
				margin: 0 auto;
				min-height: 100%;
				padding-top: 67px;
				background-color: rgb(255,255,255);
				border: 1px solid rgb(204,204,204);
                       		-webkit-box-shadow: 0 2px 6px rgb(150,150,150); 
                       		   -moz-box-shadow: 0 2px 6px rgb(150,150,150);
					box-shadow: 0 2px 6px rgb(150,150,150);
				} 

				/* for pages with no sidebar */
				#pagefield .nosidebar { width: 100%; margin: 0; padding: 0 2.5%; } 

					#pagefield .nosidebar h3 { padding: 0 0 15px 0; }

					#pagefield .nosidebar h4, #pagefield .nosidebar h5 { padding-left: 0; }

					#pagefield .nosidebar p { padding: 0; }

				/* deprecating these styles */
				#pagefield span.person:before { content: "\f007"; margin-right: 6px; padding-left: 1px; }
				#pagefield span.link:before { content: "\f0c1"; margin-right: 5px; }
				#pagefield span.email:before { content: "\f0e0"; margin-right: 6px; }
				#pagefield span.phone:before { content: "\f086"; margin-right: 5px; }
				#pagefield span.office:before { content: "\f0b1"; margin-right: 5px; }

				#pagetext img.staffphoto { float: left; max-width: 200px; /*max-height: 200px;*/ margin-right: 40px; display: block; }
				#pagetext #stafflist, #pagetext .contactinfo { list-style-type: none; display: list-item; margin-left: -8px; }
				#pagetext #stafflist li, #pagetext .contactinfo li { font-family: "helvetica", "arial", sans-serif; margin-bottom: 5px; }
				#stafflist #staffname:before, .contactinfo .contactname:before { display: inline-block; font-family: 'FontAwesome', sans-serif; content: "\f007"; margin-right: 6px; padding-left: 1px; }
				#stafflist #stafflink:before, .contactinfo .contactlink:before { display: inline-block; font-family: 'FontAwesome', sans-serif; content: "\f0c1"; margin-right: 5px; }
				#stafflist #staffemail:before, .contactinfo .contactemail:before { display: inline-block; font-family: 'FontAwesome', sans-serif; content: "\f0e0"; margin-right: 6px; }
				#stafflist #staffphone:before, .contactinfo .contactphone:before { display: inline-block; font-family: 'FontAwesome', sans-serif; content: "\f086"; margin-right: 5px; }
				#stafflist #staffoffice:before, .contactinfo .contactoffice:before { display: inline-block; font-family: 'FontAwesome', sans-serif; content: "\f0b1"; margin-right: 5px; }
				#stafflist #staffskills:before, .contactinfo .contactskills:before { display: inline-block; font-family: 'FontAwesome', sans-serif; content: "\f0ad"; margin-right: 6px; }
					#stafflist #staffskills span:first-letter, .contactinfo .contactskills span:first-letter { text-transform: uppercase; }
				#stafflist #stafftwitter:before, .contactinfo .contacttwitter:before { display: inline-block; font-family: 'FontAwesome', sans-serif; content: "\f099"; margin-right: 6px; }
				#stafflist #stafffacebook:before, .contactinfo .contactfacebook:before { display: inline-block; font-family: 'FontAwesome', sans-serif; content: "\f09a"; margin-right: 6px; }
				#stafflist #staffgithub:before, .contactinfo .contactgithub:before { display: inline-block; font-family: 'FontAwesome', sans-serif; content: "\f113"; margin-right: 6px; }
				#stafflist #staffgoogleplus:before, .contactinfo .contactgoogleplus:before { display: inline-block; font-family: 'FontAwesome', sans-serif; content: "\f0d5"; margin-right: 6px; }
				#stafflist #stafflinkedin:before, .contactinfo .contactlinkedin:before { display: inline-block; font-family: 'FontAwesome', sans-serif; content: "\f0e1"; margin-right: 6px; }
				#stafflist #staffyoutube:before, .contactinfo .contactyoutube:before { display: inline-block; font-family: 'FontAwesome', sans-serif; content: "\f167"; margin-right: 6px; }
				#stafflist #staffinstagram:before, .contactinfo .contactinstagram:before { display: inline-block; font-family: 'FontAwesome', sans-serif; content: "\f16d"; margin-right: 6px; }

			#breadcrumbs {
                		position: relative;
                		top: -45px;
                		left: 25px;
                		width: 80%;
                		font-size: 1.5em;
				color: rgb(116,193,230);
                		text-transform: uppercase;
				font-weight: 700;
				}

				#breadcrumbs a { color: rgb(153,153,153); text-decoration: none; vertical-align: baseline; }

                	        	#breadcrumbs a:hover { text-decoration: underline; border: none; background-color: transparent; }

            		    	#breadcrumbs span { margin: 0 6px; color: rgb(153,153,153); }

			#pagetext:after {
                		content: "";
                		display: table;
                		clear: both;
                		}
            
            		#pagetext {
				width: 71%;
				min-height: 100%;
				height: 100%;
				margin: 0 0 0 27%; 
				padding-bottom: 10%;
				} 

				#pagetext h3 {
					font-weight: bold;
					font-size: 2.8em; 
					color: rgb(78,85,93);
					line-height: 1.4em;
					padding: 0 20px 15px 20px;
					text-transform: uppercase;
					}

				#pagetext h4, #pagetext h5, #pagetext h6 { 
					font-weight: bold;
					font-size: 1.98em;
					padding: 15px 15px 15px 20px;
					color: rgb(78,85,93);
					text-transform: uppercase;
					}

				#pagetext h5 { font-size: 1.8em; color: rgb(0,0,0); }

				#pagetext h6 { font-size: 1.6em; color: rgb(78,85,93); text-transform: none; }

				#pagetext ul { list-style: square outside none; margin: 0 0 20px 20px; }

				#pagetext ol { list-style: decimal outside none; margin: 0 0 20px 20px; }

				#pagetext li { 
					margin: 0 0 10px 30px;
					line-height: 1.4;
					color: rgb(51,51,51); 
					font-family: "helvetica", "arial", sans-serif;
					}

					#pagetext li a:hover { text-decoration: none; border-bottom: 1px dotted rgb(73, 92, 183); }

				#pagetext p { 
					margin-bottom: 20px; 
					font-family: "helvetica", "arial", sans-serif; 
					padding: 0 20px 0 21px; 
					color: rgb(51,51,51);
					line-height: 1.4em; 
					}

				#pagetext img { 
					width: 96%;
					margin: 0 0 20px 20px;
					border: 2px solid rgb(255,255,255);
                       			-webkit-box-shadow: 0 2px 6px rgb(150,150,150);
                       			   -moz-box-shadow: 0 2px 6px rgb(150,150,150);
						box-shadow: 0 2px 6px rgb(150,150,150);
					}

				#pagetext hr { 
					width: 95%;
					height: 2px;
					margin: 23px 0 23px 20px;
					border: 1px solid rgb(204,204,204);
					background-color: rgb(204,204,204);
					}

					#pagetext .access_q { 
						font-weight: 700; 
						color: rgb(31,126,189); 
						margin-bottom: 5px; 
						font-style: italic; 
						font-size: 1.8em;
						}

						#pagetext .quoteblock {
							color: rgb(72,104,159); 
							font-size: 2.0em; 
							margin-bottom: 20px; 
							padding: 0 80px; 
							line-height: 1.5em;
							}

							#pagetext .quoteblock .qbname {
								margin-left: 25px; 
								font-style: italic; 
								font-size: 0.8em; 
								color: rgb(0,0,0); 
								}

					#pagetext .input404 { width: 90%; margin: 4px 4px 0 21px; font-size: 1.8em; }
					#pagetext .submit404 { top: 3px !important; font-size: 2.1em !important; right: 0 !important; }

					#pagetext li dd { margin-left: 30px; }

					.gmini input[type=text] { height: 52px; font-size: 1.2em; }
					.gmini input[type=submit] { top: -41px !important; font-size: 1.3em !important; text-transform: uppercase; }
					.gmini b, #pagetext #gmini i, #pagetext #gmini table { vertical-align: baseline; }
					.gmini div { margin-top: 10px; }
					.gmini div td { padding: 10px; }
					.gmini .l { color: rgb(73,92,183); font-size: 0.85em; }
					.gmini .s { font-size: 1.0em; color: rgb(51,51,51); }
					.gmini .t { background-color: rgb(116,193,230); padding: 10px; }
					.gmini .f, .gmini .f:link, .gmini .f a:link { color: rgb(102,102,102); font-size: 1.1em; }
					.gmini .a, .a:link { font-size: 1.2em; }
					.gmini a:link, .gmini .w, .gmini .w a:link { font-size: 1.4em; }


/*** DEFAULT FOOTER STYLES ***/
#footer { top: 130px; }

}


/*
	**************************** 	
	SCREEN SIZES 1280 < x < 1600
	****************************
*/
@media handheld,projection,screen and (min-width: 1280px) and (max-width: 1599px) {

/*** 1280 BANNER STYLES ***/

        /*** 1280 CONTACT US STYLES ***/

        /*** 1280 BANNER LOGOS STYLES ***/

/*** 1280 NAV STYLES ***/
#nav input[type=text] {	margin: 4px 4px 0 4px; }

#nav li:hover > ul, #nav li > ul.showSubMenu { display: block; background-color: rgb(62,162,218); z-index: 220; } 

/*** 1280 PAGEBODY STYLES ***/

	/*** 1280 PAGEHEADER STYLES ***/
	#pageheader h2 { width: 1024px; }

	/*** 1280 PAGECONTENT STYLES ***/

		/*** 1280 PAGEFIELD STYLES ***/
		#pagefield { width: 1024px; }

			#pagetext img { width: 95%; }

			#pagetext .input404 { width: 87% !important; }
			#pagetext input[type=submit].submit404 { right: 0 !important; }

/*** 1280 FOOTER STYLES ***/

}


/*
	**************************** 	
	SCREEN SIZES 1024 < x < 1280
	****************************
*/
@media handheld,projection,screen and (min-width: 1024px) and (max-width: 1279px) {

/*** 1024 BANNER STYLES ***/

        /*** 1024 CONTACT US STYLES ***/

        /*** 1024 BANNER LOGOS STYLES ***/

/*** 1024 NAV STYLES ***/
#nav #search:hover .searchfield { right: -3px; height: 33px; z-index: 200; border: 2px solid rgb(199,236,249); }

#subnavbg { height: 46px; top: 41px !important; }

#naver { max-height: 41px; }

#nav li:hover > ul, #nav li > ul.showSubMenu, #nav .highlight > ul { top: 41px !important; height: 45px; }

		#nav li:hover ul li a, #nav li ul.showSubMenu li a { padding: 15px 10.2px; /*r,l 11.2px w/o security*/ }

	#nav li ul { top: 41px !important; height: 45px; }

	#nav li ul li a { padding: 15px 10.2px; }

/*** 1024 PAGEBODY STYLES ***/
#pagebody { top: 95px; }

	/*** 1024 PAGEHEADER STYLES ***/
	#pageheader h2 { top: 25px; width: 820px; font-size: 3.0em; padding: 10px 0 30px 25px; }

	/*** 1024 PAGECONTENT STYLES ***/
	#pagecontent #imginfo { top: 10px; right: 1%; padding: 10px; }

		/*** 1024 PAGEFIELD STYLES ***/
		#pagefield { padding-top: 60px; width: 820px; } 

		#breadcrumbs { left: 25px; font-size: 1.3em; }

		#pagetext { width: 64.2%; margin: 5px 0 0 33%; } 

			#pagetext h3 {
				width: 100%;
				padding: 0 15px;
				padding-bottom: 30px;
				font-size: 2.4em;
				line-height: 1.3em;
				}

			#pagetext h4, #pagetext h5, #pagetext h6 { padding-left: 15px; }

			#pagetext p, #pagetext ul, #pagetext ol { font-size: 1.6em; line-height: 1.5em; padding: 0 15px; }

			#pagetext img { width: 94%; margin: 0 0 20px 15px; }

				#pagetext .input404 { width: 83% !important; }
				#pagetext .submit404 { right: 0 !important; }

/*** 1024 FOOTER STYLES ***/
#footer { margin-top: 8px; padding: 40px 0 0 16%; }

}



/*
	********************* 	
	SCREEN SIZES x < 1024
	*********************
*/
@media handheld,projection,screen and (max-width: 1023px) {

/*** MINI BANNER STYLES ***/

	/*** MINI CONTACT US STYLES ***/

	/*** MINI BANNER LOGOS STYLES ***/

/*** MINI NAV STYLES ***/
#nav #navhome span.icon-, #subnavbg { display: none; }

#navbox * {
	-webkit-transition: none;
	   -moz-transition: none;
		transition: none;
	}

#navbox { height: 5px; }

#nav .highlight > ul, #nav li:hover > ul, #nav li > ul.showSubMenu { 
	position: relative; 
	background-image: none; 
	width: 100%;
	top: auto;
	left: auto;
	height: 100%;
	display: block; 
	border-top: none;
	}

	#nav .highlight > ul { display: block !important; }

	#nav li:hover > ul, #nav li > ul.showSubMenu, #nav .highlight > ul { background-color: rgb(116,193,230); }

	#nav li:hover > ul, #nav li > ul.showSubMenu { display: block; }

#nav .highlight > a { background-color: transparent; }

	#nav .highlight { padding-bottom: 0; }

			#nav li ul .highhigh a { padding: 30px 0 0 29px; background: none; }

				#nav li ul .highhigh a:hover { color: rgb(26,104,152); }

/*** MINI PAGEBODY STYLES ***/
#pagebody:after {
	content: "";
        display: table;
        clear: both;
        }

#pagebody { top: 82px; background-color: transparent; margin-bottom: 20%; }

	/*** MINI PAGEHEADER STYLES ***/
	#pageheader {
		position: relative;
		top: 82px;
		margin: 0;
		padding: 1px 0 0 0;
		height: 70px;
		background: none;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
			box-shadow: none;
		}

		#pageheader h2 {
			margin: 0;
			width: 100%;
			text-align: center;
			font-size: 4.0em;
			padding: 12px 0 18px 21px;
			}

	/*** MINI PAGECONTENT STYLES ***/
	#pagecontent #imginfo { display: none; }

	#pagecontent { position: relative; top: 189px; background-color: transparent; background-image: none; }
	
		/*** MINI PAGEFIELD STYLES ***/
		#pagefield {
			left: 0;
			width: 100%;
			padding-top: 0;
			border: none;
			-webkit-box-shadow: none;
			   -moz-box-shadow: none;
				box-shadow: none;
			} 

		#breadcrumbs {
			position: relative;
			top: -153px;
			display: block;
			float: left;
			line-height: 1.4em;	
			width: 100%;
			left: 0;
			height: 55px;
			margin: -78px 0 0px 0;
			padding: 11px 7px 10px 7px;
                	font-size: 2.0em;
			border-top: 5px solid rgb(116,193,230);
			background: rgb(33,143,211) url("/twofactor/assets/img/candycane_bg3.png") repeat left top;
			text-align: center;
			color: rgb(255,255,255);
                	}

                	#breadcrumbs a, #breadcrumbs span { color: rgb(255,255,255); }

			#pagetext { display: block; float: left; width: 94%; margin: -84px 0 0 3%; } 
                        #pagefield .nosidebar { width: 94.4%; margin: -76px 0 0 3%; }

				#pagetext h3 { width: 100%; margin: 4px 0 0 0; padding: 0 0 15px 15px; font-size: 3.2em; }

                                #pagetext h4, #pagetext h5, #pagetext h6 { padding: 15px; }

				#pagetext h4 { font-size: 2.8em; }

				#pagetext h5 { font-size: 2.6em; }

                                #pagetext p { line-height: 1.4em; font-size: 2.4em; padding: 0 15px; }

				#pagetext img { width: 98%; margin: 0 0 20px 15px; }

				#pagetext li { font-size: 1.5em; }

                                #pagetext hr { width: 98%; margin: 23px 0 23px 15px; }

					#pagetext .submit404 { top: -29px !important; font-size: 3.3em !important; }

/*** MINI FOOTER STYLES ***/
#footer:after {
	content: "";
        display: table;
        clear: both;
        }

#footer { top: 700px; }

	.bump_user { top: 150px !important; }

        #footer #footlogos { display: none; }

                #footer > li a { padding-left: 3%; }

        #footer > p { margin-left: 0; }

}


/*** MINI CHEATS ***/
@media handheld,projection,screen and (max-width: 635px) and (min-width: 545px) {
#pagebody { top: 106px; }
}

@media handheld,projection,screen and (max-width: 535px) {
#pagebody { top: 141px; }
}


/*
	***********
	PRINT SIZES
	***********
*/
@media print {
body { width: 100%; }

/*** PRINT BANNER STYLES ***/

	/*** PRINT CONTACT US STYLES ***/
	#contactus { display: none; }

	/*** PRINT BANNER LOGOS STYLES ***/

/*** PRINT NAV STYLES ***/
#subnavbg { display: none; }

/*** PRINT PAGEBODY STYLES ***/
#pagebody { 
	position: relative;
	top: -10px;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-color: transparent;
	}

	/*** PRINT PAGEHEADER STYLES ***/
	#pageheader { width: 100%; padding: 1px 10% 0 10%; height: 95px; }

		#pageheader h2 {
			top: 25px;
			width: 820px;
			margin: 38px auto 0 -45px;
			color: rgb(102,102,102);
			font-weight: 300;
			font-size: 3em;
			padding: 10px 0 30px 0;
			}

	/*** PRINT PAGECONTENT STYLES ***/
	#pagecontent {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		padding-bottom: 25px;
		background-color: rgb(255,255,255);
		}
				
		/*** PRINT PAGEFIELD STYLES ***/
		#pagefield:after {
       			content: "";
       			display: table;
        		clear: both;
       			}
        				
		 #pagefield {
			position: relative;
			top: 0;
			width: 820px;
			margin: 0 auto;
			min-height: 100%;
			padding-top: 60px;
			background-color: rgb(255,255,255);
			border: 1px solid rgb(204,204,204);
			} 

			/* for pages with no sidebar */
			#pagefield .nosidebar { width: 100%; margin: 0; padding: 0 2.5%; } 

				#pagefield .nosidebar h3 { padding: 0 0 15px 0; }

				#pagefield .nosidebar h4, #pagefield .nosidebar h5 { padding-left: 0; }

				#pagefield .nosidebar p { padding: 0; }

			#breadcrumbs {
                		position: relative;
                		top: -45px;
                		left: 25px;
                		width: 80%;
                		font-size: 1.3em;
				color: rgb(116,193,230);
                		text-transform: uppercase;
				font-weight: 700;
				}

				#breadcrumbs a { color: rgb(153,153,153); text-decoration: none; vertical-align: baseline; }

            		    	#breadcrumbs span { margin: 0 6px; color: rgb(153,153,153); }

			#pagetext:after {
                		content: "";
                		display: table;
                		clear: both;
                		}
            
            		#pagetext {
				width: 64.2%;
				min-height: 100%;
				height: 100%;
				margin: 5px 0 0 33%; 
				padding-bottom: 10%;
				} 

				#pagetext h3 {
					width: 100%;
					font-weight: 700;
					font-size: 2.4em; 
					color: rgb(78,85,93);
					line-height: 1.3em;
					padding: 0 15px 30px 15px;
					text-transform: uppercase;
					}

				#pagetext h4, #pagetext h5, #pagetext h6 { 
					font-weight: bold;
					font-size: 1.98em;
					padding: 15px 15px 15px 14px;
					color: rgb(78,85,93);
					text-transform: uppercase;
					}

				#pagetext h5 { font-size: 1.8em; color: rgb(0,0,0); }

				#pagetext h6 { font-size: 1.6em; color: rgb(78,85,93); text-transform: none; }

				#pagetext p, #pagetext ul, #pagetext ol { font-size: 1.6em; line-height: 1.5em; padding: 0 15px; }

				#pagetext ul { list-style: square outside none; margin: 0 0 20px 20px; }

				#pagetext li { margin: 0 0 10px 30px; line-height: 1.4; color: rgb(51,51,51); font-family: "helvetica","arial",sans-serif; }

				#pagetext p { margin-bottom: 20px; font-family: "helvetica","arial",sans-serif; color: rgb(51,51,51); }

				#pagetext img { width: 100%; margin-bottom: 10px; border: 2px solid rgb(255,255,255); }

				#pagetext hr { 
					width: 100%; /* 95%; */
					height: 2px;
					margin: 23px 0;
					border: 1px solid rgb(204,204,204);
					background-color: rgb(204,204,204);
					}

					#pagetext .input404 { width: 83% !important; margin: 4px 4px 0 21px; font-size: 1.8em; }
					#pagetext .submit404 { top: -52px !important; font-size: 2.1em !important; }

					.gmini input[type=text] { height: 52px; font-size: 1.2em; }
					.gmini input[type=submit] { top: -41px !important; font-size: 1.3em; text-transform: uppercase; }
					.gmini b, #pagetext #gmini i, #pagetext #gmini table { vertical-align: baseline; }
					.gmini .l { color: rgb(73,92,183); font-size: 1.4em; }
					.gmini .s { font-size: 1.2em; color: rgb(51,51,51); }
					.gmini .t { background-color: rgb(116,193,230); }
					.gmini .f, .gmini .f:link, .gmini .f a:link { color: rgb(102,102,102); font-size: 1.1em; }

/*** PRINT FOOTER STYLES ***/
#footer { margin-top: 8px; top: 30px; padding: 40px 0 0 16%; }

	#footbuttons li { padding: 0 8%; }
}
